.header__logo {
  font-size: 170%;
}

.active {
  font-weight: 700;
}

.mh-navbar {
  margin: auto;
  max-width: 1366px;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
