.hero {
  padding: 0px;
  h2 {
    width: 70%;
    margin: 0 auto 2rem auto;
  }
  .mh-button__wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .mh-button {
    background: none;
    border: 2px solid;
    outline: none;
    width: 40%;
    height: 3rem;
    padding: 0px;
    margin: 0;
    color: black;
    transition: 1s ease;
  }
}

.skills .skills__content h2 {
  margin-bottom: 10px;
}

.hero__introduction {
  margin: 0 auto;
}

.hero__photo {
  background: url("../../img/mhawelka.jpg") no-repeat center;
  background-size: cover;
  height: 40vh;
}

.hero__about {
  background: url("../../img/about.jpg") no-repeat center;
  background-size: cover;
}

.hero__key-interests {
  background: url("../../img/key-interests.jpg") no-repeat center;
  background-size: cover;
}

.hero__key-interests--list {
  margin: 0 auto;
  text-align: center;
  .row {
    margin-bottom: 1rem;
  }
  p {
    margin: 0;
    text-align: left;
  }
  h4 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
  }
  table {
    border-spacing: 0 3rem;
  }
  tr {
    margin-bottom: 1rem;
    td:last-of-type {
      text-align: left;
    }
    td:first-of-type {
      //width: 50%;
    }
  }
}

.hero__icons {
  text-align: center;
}

.hero__lightning-icon {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .hero {
    &__introduction {
      flex-direction: column;
    }
    div {
      text-align: center;
    }
    &__photo {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 70px 0;
    &__introduction {
      div:first-of-type {
        justify-content: center !important;
      }
    }
    &__photo {
      width: 150px;
    }
  }
}
