@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mh-name {
  color: black;
  font-weight: bold;
}

.mh-main {
  background: linear-gradient(90deg, #9bdb6de7, #4bc0b5e7), black;

  background-size: 400% 100%;
  animation: gradient 15s ease infinite;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    text-align: center;
  }
  &__buttons {
    display: unset;
    width: 45rem;
    text-align: center;
  }
}

.mh-button {
  background: none;
  border: 2px solid;
  outline: none;
  padding: 20px;
  width: 20rem;
  height: 5rem;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: 1s ease;
  font-weight: bold;
  &:hover {
    color: black;
    border-color: white;
    border-radius: 50px;
    background-color: white;
  }
}

@media screen and (max-width: 1200px) {
  .mh-main__buttons {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .mh-main__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .mh-button {
      width: 20rem;
    }
    .mh-button:first-of-type {
      margin-bottom: 1rem;
    }
  }
}
