.contact {
  background-color: #415a16;
  color: white;
  a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  .contact-form {
    padding: 30px 20px;
    text-align: center;
    font-size: 130%;
    width: 50%;
    input,
    textarea {
      border: none;
      border-radius: 0px;
    }
  }
  button {
    margin-top: 1rem;
    height: unset;
    padding: 10px;
  }
  .form-group {
    margin: 0;
  }
  li {
    list-style: none;
    margin-bottom: 10px;
  }
  .contact__row {
    width: 70%;
    margin: 0 auto;
  }
  p {
    text-align: center;
  }
  .contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    .contact__row {
      flex-direction: column;
    }
  }
}
